.big-bg {
  background: url(/img/bg-skills.png) no-repeat 0 620px,
    url(/img/bg-about.png) no-repeat 0 0,
    url(/img/bg-future.png) no-repeat 0 1680px;
}
/*title-contents*/

.title-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 50px;
  background-color: #6bc3c2;
  color: #ffffff;
}

.title-contents-textbox {
  margin-left: 50px;
  letter-spacing: 4px;
}

.title-contents-main-title {
  font-size: 2.8rem;
  font-weight: 500;
}

.title-contents p {
  margin-top: 20px;
  font-size: 1.5rem;
}

/*about-contents*/

.about-contents {
  padding-top: 80px;
}

.wrapper {
  max-width: 1065px;
  margin: 0 auto;
}

.about-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.about-textbox p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 12px;
  color: #008c90;
  letter-spacing: 2px;
}

h4 {
  font-size: 1.5rem;
  color: #008c90;
}

.card-contents {
  display: flex;
  margin-top: 48px;
}

.cards {
  text-align: center;
}

.cards-text {
  padding: 0 10%;
  margin-top: 30px;
}

.cards-text p {
  text-align: justify;
  margin-top: 30px;
  line-height: 1.8;
  color: #384556;
  font-weight: 00;
}

/*skills-contents*/

.skill-bg {
  padding-top: 160px;
}

.skills-contents {
  display: flex;
  justify-content: center;
  max-width: 1270px;
  margin: 0 auto;
}

.skills-textbox-title {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.skills-textbox-title span {
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 12px;
  color: #008c90;
  letter-spacing: 2px;
}

.skills-img {
  width: 535px;
  height: 372px;
}

.skills-contents-status {
  padding: 0px 110px 0 50px;
}

.skills-textbox p {
  margin-top: 20px;
  text-align: justify;
  line-height: 1.8;
  color: #384556;
  font-weight: 400;
}

.skills-statusbar {
  background-color: #ffffff;
  margin-top: 10px;
  border-radius: 6px;
}

.skills-statusbar ul {
  padding: 10px 40px 30px 40px;
}

.skills-statusbar label {
  color: #359f9f;
  font-size: 1.125rem;
  letter-spacing: 1.1px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block;
}

.status-gauge {
  appearance: none;
  display: block;
  height: 18px;
  width: 85%;
}

.status-gauge::-webkit-progress-bar {
  background: #c6eaea;
  border-radius: 4px;
}

.status-gauge::-webkit-progress-value {
  border-radius: 4px;
  background: #2ab9bb;
}

.percentage {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #359f9f;
}

/*values-contents*/

.values-bg {
  margin-top: 160px;
}

.values__cards__contents {
  display: flex;
  background-color: white;
  border-radius: 12px;
  max-width: 1050px;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 30px;
}

.cards__values {
  text-align: center;
}

.long-icon {
  border-right: solid #008c90;
  opacity: 0.3;
  height: 430px;
}

.values-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.values-textbox p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 12px;
  color: #008c90;
  letter-spacing: 2px;
}

/*future-contents*/

.future-textbox-title {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.future-textbox-title span {
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 12px;
  color: #008c90;
  letter-spacing: 2px;
}

.future-textbox {
  padding-right: 40px;
}

.future-textbox p {
  margin-top: 20px;
  text-align: justify;
  line-height: 1.8;
  color: #384556;
  font-weight: 400;
}

.future-contents {
  display: flex;
  justify-content: center;
  max-width: 1050px;
  margin: 0px auto;
  padding: 80px 0;
}
