.page-footer {
  background-color: #262c3a;
  color: white;
  display: flex;
  justify-content: center;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__text {
  padding-top: 50px;
  font-size: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__text p {
  letter-spacing: 3px;
}

.page-footer__text a {
  margin-left: 18px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: white;
}

.footer-logo {
  width: 145px;
  margin-top: 70px;
}

.sns-container {
  margin-top: 50px;
}

.icon-list img {
  width: 25px;
}

.icon-list a:last-child {
  margin-left: 20px;
}

.copyright-text {
  margin: 40px 0;
  letter-spacing: 2px;
}
