@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500;700&display=swap");
@import "reset.css";
@import "page-header.css";

body {
  font-family: "Noto Sans JP", sans-serif;
}

.home-content {
  display: flex;
  align-self: center;
  justify-content: space-between;
  background-color: #28b9ba;
}

.page-title {
  font-size: 2rem;
}

.home-content p {
  margin-top: 20px;
}
